{% extends "basis.njk" %}

{% block inhalt %}

   <br>

   <ul>
      <li>Pfadparameter  : <tt>{{ pfadparameter }}</tt></li>
      <li>Ungültiger Wert: <tt>{{ wert }} </tt></li>
   </ul>

{% endblock %}


